<% provide(:title, 'Home') %>
<% provide(:heading, 'Sample App') %>
This is a page for the Ruby tutorial. The home page to be exact.       <br><br>
<h3>Navigation</h3>
<a href="help">Help</a><br>
<a href="about">About Us</a>