<% provide(:title, "Tutorial | " + @user.name) %>
<div class="row">
  <aside class="span4">
    <selection>
        <h1>
            <%= gravatar_for @user %>
            <%= @user.name %>
       </h1>
    </selection>
  </aside>
</div>